
<div>
<table class="table table-bordered border-info">
    <thead>
    <tr class="table-light">
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Основные касты</th>
        <th scope="col" style="text-align: center;">Описание</th>
        <th scope="col" style="text-align: center;">Ссылка на описание</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-dark">
        <th scope="row" style="text-align: center;">1</th>
        <td style="text-align: center;">Блатные</td>
        <td style="text-align: center;">(черные)</td>
        <td style="text-align: center;">
            <a href="https://ru.wikipedia.org/wiki/Тюремные_касты_в_странах_бывшего_СССР#Блатные">*тык*</a>
        </td>
    </tr>
    <tr class="table-secondary">
        <th scope="row" style="text-align: center;">2</th>
        <td style="text-align: center;">Мужики</td>
        <td style="text-align: center;">(Серые)</td>
        <td style="text-align: center;">
            <a href="https://ru.wikipedia.org/wiki/Тюремные_касты_в_странах_бывшего_СССР#Мужики">*тык*</a>
        </td>
    </tr>
    <tr class="table-danger">
        <th scope="row" style="text-align: center;">3</th>
        <td style="text-align: center;">Козлы</td>
        <td style="text-align: center;">(Красные)</td>
        <td style="text-align: center;">
            <a href="https://ru.wikipedia.org/wiki/Тюремные_касты_в_странах_бывшего_СССР#Активисты">*тык*</a>
        </td>
    </tr>
    <tr class="table-primary">
        <th scope="row" style="text-align: center;">4</th>
        <td style="text-align: center;">Опущенные</td>
        <td style="text-align: center;">(Голубые)</td>
        <td style="text-align: center;">
            <a href="https://ru.wikipedia.org/wiki/Тюремные_касты_в_странах_бывшего_СССР#Опущенные">*тык*</a>
        </td>
    </tr>
    </tbody>
</table>
</div>

