<html lang="ru" class="h-100">
<head>
    <div class="weather" xmlns="http://www.w3.org/1999/html">
        <h3 class="weather_title">Погода в городе
            <input class="form-control" type="text" placeholder="Введите город" value="">
            <button type="button" class="btn btn-outline-success">Узнать погоду</button>
        </h3>

        <h3>Температура: {{context.cur_temp}} °C</h3>
        <h3>Влажность: {{context.humidity}} %</h3>
        <h3>Давление: {{context.pressure}} мм.рт.ст</h3>
        <h3>Ветер: {{context.wind}} м/с</h3>
        <h3>Закат солнца: {{context.sunrise_timestamp}}</h3>
        <h3>Продолжительность дня: {{context.length_of_the_day}}</h3>
    </div>
</head>